{% extends "posts/base.html" %}

{% block content %}

Hey, my name is Marco. I am a forever student striving to learn as much about 
the world as I can. My interests are broad, but here I am primarily focussed 
on software and technology. I have a particular interest in software devlopment, 
cyber security, and small home automation projects, but I may also occasionally 
write about completely unrelated topics that I find interesting. This blog is 
intended to record and showcase my learning journey, hopefully in a way that is
also useful or interesting to others.

{% endblock %}